<a href="https://colab.research.google.com/github/Harithelamin/Computational_Intelligence/blob/main/AgeGenderDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Age & Gender Detection Project
#RNN

1. Import All library

In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt, random, io,  tensorflow as tf, tensorflow as keras

In [16]:
#!pip  install tensorflow
#!pip  install tensorflow.keras

from tensorflow import keras
from keras import layers

2. Loading datasets.AGE, GENDER AND ETHNICITY (FACE DATA) CSV

database link: https://www.kaggle.com/datasets/nipunarora8/age-gender-and-ethnicity-face-data-csv?resource=download

In [6]:
from google.colab import files
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['age_gender.csv']))
df.head()
print(df)

ModuleNotFoundError: No module named 'google.colab'

In [2]:
import pandas as pd
from pathlib import Path
data = Path("C:/users/harit/Documents/age_gender.csv")
df = pd.read_csv(data.resolve(), sep=',')
df.head(3)

,age,ethnicity,gender,img_name,pixels
0,1,2,0,20161219203650636.jpg.chip.jpg,129 128 128 126 127 130 133 135 139 142 145 14...
1,1,2,0,20161219222752047.jpg.chip.jpg,164 74 111 168 169 171 175 182 184 188 193 199...
2,1,2,0,20161219222832191.jpg.chip.jpg,67 70 71 70 69 67 70 79 90 103 116 132 145 155...

In [18]:
df.nunique()

age            104
ethnicity        5
gender           2
img_name     23479
pixels       23315
dtype: int64

In [3]:
#df.nunique()
#df.shape
df.nunique()

age            104
ethnicity        5
gender           2
img_name     23479
pixels       23315
dtype: int64

In [4]:
df.head(10)

,age,ethnicity,gender,img_name,pixels
0,1,2,0,20161219203650636.jpg.chip.jpg,129 128 128 126 127 130 133 135 139 142 145 14...
1,1,2,0,20161219222752047.jpg.chip.jpg,164 74 111 168 169 171 175 182 184 188 193 199...
2,1,2,0,20161219222832191.jpg.chip.jpg,67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3,1,2,0,20161220144911423.jpg.chip.jpg,193 197 198 200 199 200 202 203 204 205 208 21...
4,1,2,0,20161220144914327.jpg.chip.jpg,202 205 209 210 209 209 210 211 212 214 218 21...
5,1,2,0,20161220144957407.jpg.chip.jpg,195 198 200 200 198 198 199 199 198 197 197 19...
6,1,2,0,20161220145040127.jpg.chip.jpg,208 216 217 219 222 223 222 221 220 220 221 22...
7,1,2,0,20170109191125532.jpg.chip.jpg,99 142 169 177 179 181 183 186 187 186 191 190...
8,1,2,0,20161219222749039.jpg.chip.jpg,127 127 133 140 143 148 152 157 160 165 172 17...
9,1,2,0,20170109191209991.jpg.chip.jpg,199 211 211 214 216 216 219 221 222 224 219 21...

In [5]:
df.info

<bound method DataFrame.info of        age  ethnicity  gender                        img_name  \
0        1          2       0  20161219203650636.jpg.chip.jpg
1        1          2       0  20161219222752047.jpg.chip.jpg
2        1          2       0  20161219222832191.jpg.chip.jpg
3        1          2       0  20161220144911423.jpg.chip.jpg
4        1          2       0  20161220144914327.jpg.chip.jpg
...    ...        ...     ...                             ...
23700   99          0       1  20170120221920654.jpg.chip.jpg
23701   99          1       1  20170120134639935.jpg.chip.jpg
23702   99          2       1  20170110182418864.jpg.chip.jpg
23703   99          2       1  20170117195405372.jpg.chip.jpg
23704   99          0       1  20170110182052119.jpg.chip.jpg

                                                  pixels
0      129 128 128 126 127 130 133 135 139 142 145 14...
1      164 74 111 168 169 171 175 182 184 188 193 199...
2      67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3      193 197 198 200 199 200 202 203 204 205 208 21...
4      202 205 209 210 209 209 210 211 212 214 218 21...
...                                                  ...
23700  127 100 94 81 77 77 74 99 102 98 128 145 160 1...
23701  23 28 32 35 42 47 68 85 98 103 113 117 130 129...
23702  59 50 37 40 34 19 30 101 156 170 177 184 187 1...
23703  45 108 120 156 206 197 140 180 191 199 204 207...
23704  156 161 160 165 170 173 166 177 183 191 187 18...

[23705 rows x 5 columns]>

In [6]:
df.describe()

                age     ethnicity        gender
count  23705.000000  23705.000000  23705.000000
mean      33.300907      1.269226      0.477283
std       19.885708      1.345638      0.499494
min        1.000000      0.000000      0.000000
25%       23.000000      0.000000      0.000000
50%       29.000000      1.000000      0.000000
75%       45.000000      2.000000      1.000000
max      116.000000      4.000000      1.000000

In [7]:
#Columns Headers
df.columns

Index(['age', 'ethnicity', 'gender', 'img_name', 'pixels'], dtype='object')

# Add RNN layers

In [21]:
model = keras.Sequential()
# Add an Embedding layer expecting input vocab of size 1000, and
# output embedding dimension of size 64.
model.add(layers.Embedding(input_dim=1000, output_dim=64))

# Add a LSTM layer with 128 internal units.
model.add(layers.LSTM(128))

# Add a Dense layer with 10 units.
model.add(layers.Dense(10))

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, None, 64)          64000

 lstm (LSTM)                 (None, 128)               98816

 dense (Dense)               (None, 10)                1290

=================================================================
Total params: 164,106
Trainable params: 164,106
Non-trainable params: 0
_________________________________________________________________

#Add train model

In [23]:
(x_train, y_train), (x_test, y_test) = df.nunique()
x_train, x_test = x_train / 255.0, x_test / 255.0
sample, sample_label = x_train[0], y_train[0]

ValueError: too many values to unpack (expected 2)

#Build Model

In [25]:
from tkinter import UNITS

batch_size = 64
# Each MNIST image batch is a tensor of shape (batch_size, 28, 28).
# Each input sequence will be of size (28, 28) (height is treated like time).
input_dim = 28

units = 64
output_size = 10  # labels are from 0 to 9

def build_model(allow_cudnn_kernel=True):
    if allow_cudnn_kernel:
        # The LSTM layer
        lstm_layer = keras.layers.LSTM(UNITS, input_shape=(None, input_dim))
    else:
        # Wrapping a LSTMCell in a RNN layer will not use CuDNN.
        lstm_layer = keras.layers.RNN(
            keras.layers.LSTMCell(units), input_shape=(None, input_dim)
        )
    model = keras.models.Sequential(
        [
            lstm_layer,
            keras.layers.BatchNormalization(),
            keras.layers.Dense(output_size),
        ]
    )
    return model